{
margin: 0;
padding: 0;
box-sizing: border-box;

}

:root{
scroll-behavior: smooth;
}

body{
font-family: 'Roboto', sans-serif;
}



.contenedor{
    width: 90%;
    max-width: 1200 px;
    overflow: hidden;
    margin: auto;
    padding: 60 px 0;
    

 
    display: table;
}


header{
    height: 40vh;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.head{
padding: 500;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
color:#424949;

}

.logo{
    position: fixed;
    top: 40px;
    right: 30px;
    background: #FADBD8;
    width: 90px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.enlaces-header{
    position: fixed;
    top: 100px;;
    right: 10px;
    width: 90vw;
    align-items: center;

}

.titulo{
    font-size: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 15px;
    align-items: center;
}

.copy{
    top: 100px;;
    right: 10px;
    width: 80vw;
    align-items: center;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 15px;
    align-items: center;
    color: whitesmoke;
    
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    width: 30px;
    height: 30px;
    color: purple;
    border-radius: 50%;
}

body{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    flex-wrap: wrap;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color:#7D3C98
}

.e-bussines{
    border-radius: 10%;
}


